

<main class="container"   *ngIf="formVisible === false">

<button     class="addBtn"
            mat-flat-button color="accent"
            (click)="onAddBtnClick()">Add assignment</button>

<mat-list *ngFor="let assignment of assignments">

    <h3  mat-subheader>{{assignment.dueDate | date}}</h3>
    <mat-list-item (click)="setSelected(assignment)">
        <p appSubmitted *ngIf="assignment.submitted; else unsubmitted">
            Assignment {{assignment.name}} <b>--has been--</b>  submitted!
        </p>
        <ng-template class="unsub"  #unsubmitted>
            Assignment {{assignment.name}}  <b> --hasn't been-- </b>  submitted.
        </ng-template>
        <mat-divider></mat-divider>
    </mat-list-item>
    
</mat-list>
</main>
<app-add-assignment (newAssignment)="onNewAssignment($event)" *ngIf="formVisible === true"></app-add-assignment>
<app-assignment-detail [passedAssignment]="selectedAssignment"></app-assignment-detail>