<form ngForm #assignmentsForm class="form">
    <mat-form-field>
      <input matInput
            #assignmentName
            [(ngModel)]="name"
            name="name" />
    </mat-form-field>
    <mat-form-field>
        <input matInput
                [matDatepicker]="picker"
                [(ngModel)]="dueDate"
                name="name" placeholder="whens your assignment due?">
                <mat-datepicker-toggle matSuffix [for]="picker">

                </mat-datepicker-toggle>
                <mat-datepicker #picker>

                </mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button 
            [disabled]="!enabled"
            (click) = "onSubmit(); assignmentsForm.reset()"
            color="primary">Add Assignment</button>
            
            <p>Box value is : {{name}}</p>     
            <p>Due date value is: {{dueDate}}</p>
</form>



<div *ngFor="let assignment of assignments"
    [ngClass]="{'submitted': assignment.submitted === true,'unsubmitted': assignment.submitted === false}"
    >
   <p *ngIf="assignment.submitted; else unsubmitted">Assignment {{assignment.name}} has been submitted</p> 
    <ng-template #unsubmitted>Assignment {{assignment.name}} hasnt been submitted</ng-template>
</div>