

<main *ngIf="formVisible === false">

<button mat-flat-button color="accent"
            (click)="onAddBtnClick()">Add assignment</button>

<mat-list *ngFor="let assignment of assignments">

    <h3 mat-subheader>{{assignment.dueDate | date}}</h3>
    <mat-list-item (click)="setSelected(assignment)">
        <p appSubmitted *ngIf="assignment.submitted; else unsubmitted">
            Assignment {{assignment.name}} has been submitted!
        </p>
        <ng-template #unsubmitted>
            Assignment {{assignment.name}} hasn't been submitted.
        </ng-template>
        <mat-divider></mat-divider>
    </mat-list-item>
    
</mat-list>
</main>
<app-add-assignment  *ngIf="formVisible === true"></app-add-assignment>
<app-assignment-detail [passedAssignment]="selectedAssignment"></app-assignment-detail>