<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <div class="center">
      <button mat-mini-fab>🤠</button>
      <button mat-mini-fab>😊</button>
      <button mat-mini-fab>😋</button>
      <div class="head1">
        <h1><i><b>ASSIGNMENTS OF THE MONTH</b></i></h1>
      </div>
      <button mat-mini-fab>🤭</button>
      <button mat-mini-fab>😴</button>
      <button mat-mini-fab>🤠</button>


    </div>
    

    
    <app-assignments>assignments worls </app-assignments>
  </body>
</html>