<html>
  <head>
    <title>

    </title>

  </head>
  <body>
    <mat-toolbar>My App</mat-toolbar>
    <div class="center">
      <button mat-mini-fab>🤠</button>
      <button mat-mini-fab>😊</button>
      <button mat-mini-fab>😋</button>
      <div class="head1">
        <h1>
          <a routerLink="/home"><i><b>{{title}}</b></i>
          </a>
          </h1>
      </div>
      <button mat-mini-fab>🤭</button>
      <button mat-mini-fab>😴</button>
      <button mat-mini-fab>🤠</button>


    </div>
    <router-outlet></router-outlet>
  </body>
</html>