<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <h1>hi satya hi whtsupp</h1>
    <button mat-button>click</button>
    <button mat-raised-button color="accent">click</button>
    <button mat-flat-button>click</button>
    <button mat-stroked-button>click</button>
    <button mat-icon-button>click</button>
    <button mat-fab>click</button>
    <button mat-mini-fab>click</button>
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    <app-assignments>assignments worls </app-assignments>
  </body>
</html>